<h2>Search Books</h2>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Title</label>
            <input type="text" name="title" value="<%= searchObject.title%>">
        </div>
        <div class="form-item">
            <label>Published After</label>
            <input type="date" name="publishedAfter" value="<%= searchObject.publishedAfter%>">
        </div>
        <div class="form-item">
            <label>Published Before</label>
            <input type="date" name="publishedBefore" value="<%= searchObject.publishedBefore%>">
        </div>
    </div>
    <button class="btn btn-success" type="submit">Search</button>

</form>

<%let j = 0;%>
<b><label style="float: right; margin-bottom: 5px;">Total Books: <%= books.length%></label></b>

<table style="margin-top:10px">
    <tr>
        <th>No</th>
        <th>Title</th>
        <th>Author</th>
        <th>Process</th>
    </tr>


    <% books.forEach(book => { %>
    <%j++;%>
    <tr>
        <div>
            <div class="author-row">
                <td style="width: 5%;"><%=j%></td>
                <div class="author-name">
                    <td>
                        <div class="form-row">
                            <img style="height: 45px; width: 35px; margin-top: 10px" src="<%= book.coverImagePath%>">
                            <div style="margin-top: 15px; margin-left: 15px;"> <%= book.title%>
                            </div>
                        </div>
                    </td>
                </div>
                <td style="width: 25%;">
                    <% authors.forEach(author => { %>
                    <%if(author.id == book.author){%>
                    <%=author.name%>
                    <%}%>
                    <% })%>
                </td>

                <td style="width: 20%;">
                    <div class="btn-row">
                        <a class="btn btn-primary" href="/books/<%= book.id%>">View</a>
                        <a class="btn btn-primary" href="/books/<%= book.id%>/edit">Edit</a>
                        <%- include('../partials/deleteForm', { url: `/books/${ book.id}`})%>
                    </div>
                </td>
            </div>
        </div>
    </tr>
    <%})%>


</table>