<label style="color: red; font-size: 1.5rem;"><b><%= book.title%></b></label>
<br>
<br>
<div style="margin-left:40px; width: 1200px;" class="form-row">
    <div class="form-item">
        <img height="430px" width="320px" src="<%= book.coverImagePath%>"><br>
    </div>

   <div style="padding-right: 530px; max-height: 430px; margin-left: 20px; background-color:rgb(72, 235, 100)" class="form-item">
        <label>Author: <b><%= author != null ? author.name : 'No Author' %></b></label>
        <label style="margin-top:10px"><b>Published Date:</b> <%=  book.publishDate.toISOString().split('T')[0]%></label>
        <label style="margin-top:10px;"><b>Description:</b> <%= book.description%></label>
        <div style="margin-top:10px" class="form-row">
            <a class="btn btn-primary" href="/books/<%= book.id%>/edit">Edit</a>
            <div style="margin-left:10px">
                <%- include('../partials/deleteForm',
                            {url: `/books/${book.id}`})%></div>
        </div>
   </div>
</div>