<%if(locals.name == null){%>
<label style="font-style: italic; font-size: 2rem; float: right; margin-top: 30px; margin-right: 15px; color: red;"><b>Login
        or Register to <b style="color: black">Add / Update / Delete</b> Books and Authors</b></label>
<br><br><br>
<%}%>

<h2 class="page-header">Recently Added
    <label style="float: right; font-size: 16px; margin-top: 30px; margin-right: 15px;"><b>Total: <%= books.length%>
books</b></label>
</h2>
<%if(allBooks.length > 12 && page > 1){%>
    Page: <%=page != null ? page : 1%>
    <%}%>
<div>
    <%let i = 0;%>
    <% books.forEach(book => { %>
    <%i++%>
    <div class="book-row">
        <center>
            <a href="/books/<%= book.id%>"><%=book.title.length > 10 ? book.title.substring(0,10) + '...' : book.title%>
                <img src="<%= book.coverImagePath%>">
            </a>
            <label>Publish Date: <%=  book.publishDate.toISOString().split('T')[0]%></label>
        </center>
    </div>
    <%})%>
</div>
<div>
    <%if(books.length >= 12) {%>

    <div>
        <form action="/" method="GET">
            <select name="page" class="btn btn-danger">
            <%for(let j = 0; j < allBooks.length / 12; j++){%>
            <%let newpage = j + 1%>
             <%if(newpage == page){%>
                <option class="btn btn-success" selected value="<%= newpage%>"><%= j + 1%></option>
                <%} else {%>
                    <option class="btn btn-danger" value="<%= newpage%>"><%= j + 1%></option>
                    <%}%>
            <%}%>
        </select>
        <button class="btn btn-primary" type="submit">Go</button>
        </form>
    </div>
    <!-- <%for(let i = 1; i < 5; i++){%>

            <a href="#" style="text-decoration: none;">
                <button class="btn btn-danger" href="" type="submit"
                    style="font-size: 2rem; margin-top: 40px; margin-left: 20px; width: 50px;"><%=i%></button>
            </a>


            <%}%> -->
    <%}%>

    </div>