<div class="form-row">
    <div class="form-item">
        <h3>Search Authors</h3>
        <form action="/authors" method="GET">
            <div class="form-item">
                <label>Name</label>
                <input type="text" name="name" value="<%searchObject != null ? searchObject.name : null%>">
            </div>
            <br>
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </div>
<%if(locals.name != null){%>
    <div class="form-item">
            <h3>Add New Author</h3>
            <form action="/authors" method="POST">
                <div class="form-row">
                    <div class="form-item">
                        <%- include('_form_fields') %>
                    </div>
                    <div style="margin-top: 5px;" class="form-row">
                        <div style="margin-left: 10px;"class="form-item">
                            <br>
                            <button style="margin-left: 10px;" class="btn btn-primary" type="submit">Create</button>
                        </div>
                        <!-- <div class="form-item">
                            <br>
                            <a class="btn btn-danger" href="/authors">Cancel</a>
                        </div> -->
                    </div>
                </div>
            </form>
        </div>
    <%}%>
</div>

<table>
    <caption style="margin-left: 1000px; margin-bottom: 5px; font-weight: bold; font-size: 16px;">Total Author:
        <%= authors.length%></caption>
    <tr>
        <th>No</th>
        <th>Author</th>
        <th>Books</th>
        <th>Process</th>
    </tr>
    <%let j = 0;%>
    <% authors.forEach(author => { %>
    <%j++;%>
    <tr>
        <div>
            <div class="author-row">
                <td style="width: 5%;"><%=j%></td>
                <div class="author-name">
                    <td style="width: 25%;"><%= author.name%></td>
                </div>
                <%let bookL = ''%>
                <% books.forEach(book => { %>
                <% if(author.id == book.author) { %>
                <% bookL += book.title + ', ';%>
                <% } %>
                <% })%>
                <!-- <%let newList = bookL.split(',')%>
                <%let renderList = '', counter = 0%>
                <%newList.forEach(item => {%>
                <% counter++;%>
                <%if(newList.length -1 > counter){%>
                <%renderList += item + ', '; %>
                <%} else {%>
                <%renderList += item; %>
                <%}%>
                <% })%> -->
                <td><%= bookL.substring(0, bookL.length).length > 60 ? bookL.substring(0, 70) + '...' : bookL.substring(0, bookL.length) %>
                </td>
                <td style="width:20%">
                    <div class="btn-row">
                        <a class="btn btn-primary" href="/authors/<%= author.id%>">View</a>
                        <a class="btn btn-primary" href="/authors/<%= author.id%>/edit">Edit</a>
                        <%if(author.book){%>
                            <button class="btn btn-danger" title="This Author has at least 1 book, you can not delete!"
                                disabled type="button" href="/authors/<%= author.id%>/edit">Delete</button>
                            <%} else {%>
                            <%- include('../partials/deleteForm', { url: `/authors/${ author.id}`})%>
                            <%}%>
                    </div>
                </td>

            </div>
        </div>
    </tr>
    <%})%>
</table>