<div class="btn-row">
    <h2>Books By </h2>
    <h2 style="color:red"><%=author.name%></h2>
    <a class="btn btn-primary" style="color:blue" href="/authors/<%= author.id%>/edit">Edit</a>
    <%if(booksByAuthor.length == 0){%>
    <%- include('../partials/deleteForm',
                {url: `/authors/${author.id}`})%>
    <%}%>
    </div>

<div>
        <label><b>Total: <%= booksByAuthor.length%> books</b></label><br>
    <%let i = 0;%>
    <% booksByAuthor.forEach(book => { %>
    <%i++%>
    <div class="book-row">
        <center>
            <a href="/books/<%= book.id%>"><%= book.title%>
                <img src="<%= book.coverImagePath%>">
            </a>
            <label>Publish Date: <%=  book.publishDate.toISOString().split('T')[0]%></label>
        </center>
    </div>
    <%})%>
</div>