<div class="btn-row">
    <h2>Books By </h2>
   <div class="form-row">
                <h2 style="color:red"><%=author.name%></h2>
                <a style="height: 35px; margin-top: 20px; margin-left:20px" class="btn btn-primary" href="/authors/<%= author.id%>/edit">Edit</a>
   </div>
    <%if(booksByAuthor.length == 0){%>
    <%- include('../partials/deleteForm',
                {url: `/authors/${author.id}`})%>
    <%}%>
    </div>

<div>
        <label><b>Total: <%= booksByAuthor.length%> books</b></label><br>
    <%let i = 0;%>
    <% booksByAuthor.forEach(book => { %>
    <%i++%>
    <div class="book-row">
        <center>
            <a href="/books/<%= book.id%>"><%= book.title.length > 10 ? book.title.substring(0,10) + '...' : book.title %>
                <img src="<%= book.coverImagePath%>">
            </a>
            <label>Publish Date: <%=  book.publishDate.toISOString().split('T')[0]%></label>
        </center>
    </div>
    <%})%>
</div>